@font-face {
  font-family: "Roboto";
  src: url("../assets/Roboto/Roboto-Regular.ttf") format("truetype");
  /* Add additional font formats and variations as needed */
}

@font-face {
  font-family: "Roboto";
  font-weight: bold;
  src: url("../assets/Roboto/Roboto-Bold.ttf") format("truetype");
  /* Add additional font formats and variations as needed */
}

@font-face {
  font-family: "Roboto";
  font-weight: bold;
  src: url("../assets/Roboto/Roboto-Bold.ttf") format("truetype");
  /* Add additional font formats and variations as needed */
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  src: url("../assets/Roboto/Roboto-Italic.ttf") format("truetype");
  /* Add additional font formats and variations as needed */
}

.app-home {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  height: 100vh;
}

.app-home > div {
  margin: 45px;
}

.app-home .app-resume {
  width: 55vw;
}

.app-home .app-form {
  width: 35vw;
  position: relative;
}

.app-form-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: scroll;
  overflow-x: hidden;
  padding: 0 !important;
}

.app-form-main .form-container {
  margin: 10px;
}

.form-container h2 {
  margin: 0px;
}

.app-form div {
  display: flex;
  flex-direction: column;
}

.app-form div input,
.app-form div input {
  display: flex;
  flex-direction: column;
}

.app-form-main * {
}

button.new-entry {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: darkolivegreen;
  position: absolute;
  right: 20px;
  top: 20px;
  transition: transform 0.1s ease-in-out;
}

button.new-entry:hover {
  transform: scale(1.1);
}

button.new-entry::before,
button.new-entry::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
}

button.new-entry::before {
  width: 20px;
  height: 3px;
  transform: translate(-50%, -50%); /* Rotate to form a plus sign */
}

button.new-entry::after {
  width: 3px;
  height: 20px;
  transform: translate(
    -50%,
    -50%
  ); /* Move vertically to complete the plus sign */
}

button.delete-btn {
  background-color: transparent;
  padding: 0px;
}

button.delete-btn img {
  width: 20px;
  height: auto;
}
